<!DOCTYPE html>
<html lang="en"
		xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
<style type="text/css">
	body {
	background-image: url("timg.jpg");
	background-size: 100%;
}
</style>
</head>
<body>
<div style="margin: 250px auto;width: 500px;">
		
		<h4 th:text="${msg}"></h4>
	<form action="login" method="post">
    	<p>账号：<input type="text" name="username" value="zhangsan"/></p>
	    <p>密码：<input type="text" name="password" value="123456"/></p>
    	<p><input type="submit" value="登录"/></p>
	</form>
</div>
</body>
</html>